
@{
    ViewBag.PageId = "extr-page";
    ViewData["Title"] = "ResetPassword";
}

<div id="content" class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-lg-offset-3">
            <div class="well no-padding">
                <form class="smart-form client-form" id="login-form" asp-action="ResetPassword" asp-controller="Auth">
                    <header>
                        Şifremi Unuttum
                    </header>
                    <fieldset>
                        <section>
                            <label class="label">Email adresinizi giriniz. @ViewBag.Message</label>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" name="Email" value="@ViewBag.Email" required>
                                <b class="tooltip tooltip-top-right">
                                <i class="fa fa-envelope txt-color-teal"></i>
                                Lütfen email adresinizi giriniz.</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("login", "auth")">Şifremi Hatırladım.!</a>
                            </div>
                        </section>

                    </fieldset>

                    <footer>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-refresh"></i> Şifre Değiştir
                        </button>
                    </footer>

                </form>
            </div>
        </div>
    </div>
</div>
